@model ProjectPrn211.Models.Genre

@{
    Layout = "LayoutAdmin";
}


<div class="d-flex container-fluid justify-content-center">
     <div class="w-75 mt-5">
    <form method="post" action="@Url.Action("EditGenre", "Admin")">
            <h1>Update movie</h1>
            @Html.HiddenFor(model => model.GenreId) 
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Title</span>
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <button type="submit" class="mt-2 btn btn-success">Submit</button>
    </form>
    </div>
</div>